.fa-times-circle {
  display: flex;
  align-items: center;
}

.invalidEmail {
  color: red;
    /* also need animation and -moz-animation */
    animation: shake .5s linear;
    -webkit-animation: shake .5s linear;
}

/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
