header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

header nav a {
  margin-left: 10px;
}

button, a.login {
  display: none;
}

@media (max-width: 800px) {
  nav a:not(.login) {
    display: none;
  }

  mat-sidenav {
    padding: 20px;
  }

  mat-sidenav a {
    display: block;
    margin-bottom: 20px;
  }

  button {
    display: inline;
  }

  nav a.login {
    display: inline-block;
  }
}
