<div *ngIf="profile" class="wrapper">

  <div class="row">
    <div class="column1">
      <h2 class="text-center">Welcome</h2>
      <h1 class="text-center"><img src="https://epicmix.com/{{ profile.ProfileImage }}" alt="" class="ProfileImage" *ngIf="profile.ProfileImage"> {{ profile.Name }}</h1>
    </div>
    <div class="column1">
      <h2 class="text-center">Your Season</h2>

      <div class="row season">
        <div class="column1">
          <h1>{{ profile.VerticalFeet | number:'1.' }}</h1>
          <h4>Vertical</h4>
        </div>
        <div class="column1">
          <h1>{{ profile.DaysOnMountain | number:'1.' }}</h1>
          <h4>Day<ng-container *ngIf="profile.DaysOnMountain !== 1">s</ng-container></h4>
        </div>
        <div class="column1">
          <h1>{{ profile.Lifts | number:'1.' }}</h1>
          <h4>Lift<ng-container *ngIf="profile.Lifts !== 1">s</ng-container></h4>
        </div>
        <div class="column1">
          <h1>{{ profile.MountainsVisited | number:'1.' }}</h1>
          <h4>Mountain<ng-container *ngIf="profile.MountainsVisited !== 1">s</ng-container></h4>
        </div>
      </div>
    </div>
  </div>




  <div class="pools-header">
    <h2>My Pools</h2>
    <div class="pools-action">
      <a mat-raised-button color="accent" [routerLink]="['/create']" disabled>CREATE POOL</a>
      <a mat-raised-button color="accent" [routerLink]="['/join']" disabled>JOIN POOL</a>
    </div>
  </div>

  <table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'pool'">
          {{element[column] | currency:'USD':'symbol'}}
        </ng-container>
        <ng-container *ngIf="column !== 'pool'">
          {{element[column]}}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="pool-detail"
             [@detailExpand]="element == expandedPool ? 'expanded' : 'collapsed'">
            <div class="pool-description">
              {{element.data}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="pool-row"
        [class.pool-expanded-row]="expandedPool === element"
        (click)="expandedPool = element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="pool-detail-row"></tr>
  </table>
  <small><i>Coming Soon</i></small>
</div>
