<div class="wrapper">

  <div class="row">
    <div class="column1">
      <h2 class="text-center">Welcome</h2>
      <h1 class="text-center"><img src="https://epicmix.com/{{ profile.ProfileImage }}" alt="" class="ProfileImage" *ngIf="profile.ProfileImage"> {{ profile.Name }}</h1>
    </div>
    <div class="column1">
      <h2 class="text-center">My Season</h2>

      <div class="row season">
        <div class="column1">
          <h1>{{ profile.VerticalFeet | number:'1.' }}</h1>
          <h4>Vertical</h4>
        </div>
        <div class="column1">
          <h1>{{ profile.DaysOnMountain | number:'1.' }}</h1>
          <h4>Day<ng-container *ngIf="profile.DaysOnMountain !== 1">s</ng-container></h4>
        </div>
        <div class="column1">
          <h1>{{ profile.Lifts | number:'1.' }}</h1>
          <h4>Lift<ng-container *ngIf="profile.Lifts !== 1">s</ng-container></h4>
        </div>
        <div class="column1">
          <h1>{{ profile.MountainsVisited | number:'1.' }}</h1>
          <h4>Mountain<ng-container *ngIf="profile.MountainsVisited !== 1">s</ng-container></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="pools-header">
    <h2>My Pools</h2>
    <div class="pools-action">
      <a mat-raised-button color="accent" [routerLink]="['/create']" disabled>CREATE POOL</a>
      <a mat-raised-button color="accent" [routerLink]="['/join']" disabled>JOIN POOL</a>
    </div>
  </div>

  <i class="fal fa-snowflake fa-spin" *ngIf="loading"></i>

  <table mat-table [dataSource]="dataSource" [hidden]="loading">

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let pool">
        {{ pool.Name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="BuyIn">
      <th mat-header-cell *matHeaderCellDef>buy in</th>
      <td mat-cell *matCellDef="let pool">
        {{ pool.BuyIn | currency:'USD':'symbol' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="VerticalFeet">
      <th mat-header-cell *matHeaderCellDef>vertical</th>
      <td mat-cell *matCellDef="let pool">
        {{ pool.VerticalFeet | number:'1.' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="DaysOnMountain">
      <th mat-header-cell *matHeaderCellDef>days</th>
      <td mat-cell *matCellDef="let pool">
        {{ pool.DaysOnMountain | number:'1.' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Lifts">
      <th mat-header-cell *matHeaderCellDef>lifts</th>
      <td mat-cell *matCellDef="let pool">
        {{ pool.Lifts | number:'1.' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="MountainsVisited">
      <th mat-header-cell *matHeaderCellDef>
        <span class="mobile-text">mtns</span>
        <span class="desktop-text">mountains</span>
      </th>
      <td mat-cell *matCellDef="let pool">
        {{ pool.MountainsVisited | number:'1.' }}
      </td>
    </ng-container>

    <!-- link to players -->
    <ng-container matColumnDef="Players">
      <th mat-header-cell *matHeaderCellDef>players</th>
      <td mat-cell *matCellDef="let pool">
        {{ pool.Players | number:'1.' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>

  <small><i>Coming Soon</i></small>
</div>
