.season {
  text-align: center;
  margin-bottom: 50px;
}

.profile-picture {
  border-radius: 50%;
}

.fa-snowflake.fa-spin {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  display: block;
}
