@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.wrapper {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

mat-form-field, button {
  width: 100%;
}
