.background-image {
  background:linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('../../assets/images/skiride-homepage-image.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.background-image h1 {
  font-size: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.background-image h2 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.background-image h3 {
  margin-top: 20px;
}

.background-image p {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 800px) {
  .login {
    display: none;
  }
}
