<div class="row">
  <div class="column1">
    <div class="background-image">
      <h1>Ski, Win Money</h1>
      <h2>How it works:</h2>
      <ol>
        <li>Login with EpicMix</li>
        <li>Join or Create a Pool</li>
        <li>Go Skiing or Snowboarding</li>
      </ol>
      <h2>Whoever has the most:</h2>
      <p><i class="fal fa-ruler-triangle"></i> Vertical Feet, <i class="fal fa-ski-lift"></i> Lifts, <i class="fal fa-calendar-day"></i> Days on Mountain,<br>and/or <i class="fal fa-mountains"></i> Mountains Visted</p>
      <h2>Wins the pool!</h2>
    </div>
  </div>
  <div class="column1 login">
    <app-login></app-login>
  </div>
</div>
