.background-image {
  background-image: url('../../assets/images/skiride.com-home-background-image.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image h1 {
  color: white;
  font-size: 70px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
